name: Python CI

on:
  push:
    branches: [ master ]
  pull_request_target:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', pypy-3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip twine
        pip install poetry
        poetry install
    - name: Run test suite
      run: |
        poetry run py.test -v --cov=tinydb_serialization
    - name: Verify dist package format
      if: ${{ !contains(matrix.python-version, '3.7') }}
      run: |
        poetry build
        twine check dist/*
    - name: Upload coverage result
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: |
        poetry run coveralls
